/* Container styling for the 'recently-shared' section */
.recently-shared {
    font-family: "Dancing Script", cursive;
    text-decoration: none;
    color: inherit;
    display: block;
    margin: 1rem;
    padding: 0.5rem;
}
  
/* Recipe preview article container */
.recipe-preview {
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 0.1rem solid #4F6F52;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 0.25rem 0.75rem rgba(232, 223, 202, 0.7);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Add hover effect to preview */
.recipe-preview:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 2rem rgba(232, 223, 202, 0.9);
}
  
/* Recipe preview image styling */
.recipe-preview > img {
    width: 30%;
    border: 0.1rem solid #4F6F52;
    margin: 1rem;
    border-radius: 8px;
}
  
/* Share button styling */
#share-button {
    background: none;
    border: none;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* Hover effect for the share button */
#share-button:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
  
/* Share icon styling */
#share-button img {
    width: 2rem;
    height: auto;
    display: block;
    border: none;
    margin: 0;
}

/* All Text on recipe preview */
.preview-text{
    padding: 1rem;
}

/* Title and share button layout */
.preview-text h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    font-size: 2rem;
}
  
/* Author subtitle styling */
.preview-text h3 {
    margin: 0;
    font-size: 1.5rem;
}